@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  user-select: none;
}

*::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}
.res-loginbar {
  display: none !important;
}
/* 반응형CSS 웹뷰(Midium) */
@media only screen and (max-width: 1199px) {

}
/* 반응형CSS 태블릿 뷰 */
@media only screen and (max-width: 839px) {
  .res-mainWrap {
    flex-direction: column !important;
    font-size: 15px !important;
  }
  .res-sidbar {
    width: 100% !important;
    height: 80px !important;
    bottom: 0px !important;
    border-radius: 0px !important;
    position: absolute !important;
    display: flex !important;
  }
  .res-selectWrap {
    padding: 0 !important;
    border-radius: 0 !important;
    margin: 0 !important;
  }
  .res-selectBox {
    position: absolute !important;
    cursor: pointer !important;
    width: 100% !important;
    /* padding: 10px 20px !important; */
    border-bottom: 1px solid rgba(29, 28, 29, 0.13) !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px !important;
  }
  .res-label {
    font-size: 20px !important;
    padding: 10px !important;
  }
  .res-selectOptions {
    top: 48px !important;
  }
  .res-menuWrap {
    display: flex !important;
    margin-top: 0px !important;
    font-size: 15px !important;
    text-align: center !important;
    border-radius: 0px !important;
    width: 100% !important;
  }
  .res-menuBox {
    justify-content: center !important;
    flex-direction: column !important;
    border-radius: 0px !important;
    font-size: 15px !important;
    width: 100% !important;
    padding: 0 !important;
  }
  .res-menus {
    margin: 2px 0 !important;
  }
  .hr {
    display: none;
  }
  .res-missionPageWrap {
    padding-top: 50px;
    height: calc(100vh - 150px) !important;
  }
  .res-missionStatusBox {
    flex-direction: column !important;
    margin: 0;
  }
  .res-twoStatusBox {
    display: flex;
    /* margin; */
  }
  .res-missionSelect {
    display: flex !important;
  }
  .res-monthMissionTitle {
    display: none !important;
  }
  .res-wepPastMissionList {
    display: none !important;
  }
  .res-login {
    display: none !important;
  }
  .res-loginbar {
    width: 100% !important;
    height: 60px !important;
    bottom: 0px !important;
    position: fixed !important;
    display: flex !important;
  }
  .res-cont {
    box-sizing: border-box !important;
    margin: 1.5% 0 !important;
    padding: 5% !important;
    width: 100% !important;
  }
  .res-ss {
    box-sizing: border-box !important;
    padding: 5% 1% 1% !important;
    width: 100% !important;
  }
  .res-modal {
    border-radius: 12px 12px 0px 0px !important;
    width: 100% !important;
  }
}
/* 반응형CSS 모바일 뷰 */
@media only screen and (max-width: 599px) {
  .res-missinoListBox {
    margin-top: 0px !important;
  }
  .res-statusBox {
    padding: 0px 20px !important;
    height: 9rem !important;
  }
  .res-stausMiddleBox {
  padding: 15px !important;
  }
  .res-selectBox.div.div {
    padding: 10px !important;
  }
  .res-missionStatusTitle {
font-size: 15px !important;
  }
  .res-missionStatus {
font-size: 24px !important;
  }
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-column-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
