@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  user-select: none;
}

*::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 500px) {
  .res-mainWrap {
    flex-direction: column !important;
  }
  .res-sidbar {
    width: 100% !important;
    height: 60px !important;
    bottom: 0px !important;  
    position: absolute !important;
    display: flex !important; 
    
  }
  .res-selectBox {
    padding: 0 !important;
  }
  .res-select {
    cursor: pointer !important;
    width: 100% !important;
    padding: 10px 20px !important;
    border-bottom: 1px solid rgba(29, 28, 29, 0.13) !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px !important;
    font-size: 15px !important;
  }
  .res-menuWrap {
    display: flex !important;
    border-top: 1px solid rgba(29, 28, 29, 0.13) !important;
    margin-top: 0px !important;
    font-size: 15px !important;
    text-align: center !important;
  }
  .res-menu {
    justify-content: center !important;
    flex-direction: column !important;
  }
  .res-menuIcon {
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-column-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
